.table-strip tr:nth-child(even) {
  background-color: #00000012;
}

body {
  font-family: "Roboto", sans-serif;
}

input:focus {
  outline: unset;
}

.table-border,
.table-border th,
.table-border th td,
.table-border tr td {
  border-collapse: collapse;
  border: 1px solid #00000038;
}

td {
  padding: 10px;
  font-size: 13px;
}

th {
  padding: 10px 10px;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
}
p {
  margin: 0px;
}
